<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>TeleHealth</title>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
    </head>
    <body>
 <nav id="mainNav" class="navbar navbar-default container-fluid">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed same btn btn-primary btn-lg" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="glyphicon glyphicon-home"></span>

                </button>
                <a class="navbar-brand page-scroll visible-sm visible-md visible-lg" href="                      http://ecasp.ece.iit.edu"> <img src="/static/ecasp.png" alt=""></a>
                
                
                <a class="navbar-brand page-scroll visible-xs" href="#page-top">KCT</a>
            </div>

            <div class="navbar-right">
                <a class="navbar-brand page-scroll visible-sm visible-md visible-lg" href="http://iit.edu"> <img src="/static/iitlogo.png" style="height:37px;" alt=""></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <!--    <ul class="nav navbar-nav navbar-right">
        <li><a class="page-scroll" href="#">Home</a></li>

        </ul> -->

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


    <div class="container">
    	<div class="row">
    		
    		<div class="col-md-12">

			<h2>TeleHealth Log <a href="/viewLastData" class="btn btn-success">View Recent Log</a></h2>
			<table class="table table-striped table-bordered" >
				<thead>
					<tr>
				<th>timestamp</th>
				<th>Device ID</th>
				<th>Name</th>
				<th>Age</th>
				<th>Mobile</th>
				<th>Email</th>
				<th>Address</th>
				<th>Temperature</th>
				<th>Pulse Rate</th>
				<th>SPO2</th>
				<th>Breathe</th>
				<th>Body Orientation</th>
				<th>Comments</th>
					</tr>

				</thead>

		<tbody>
        {% for task in tasks %}
				<tr>
					<td>{{ task['Timestamp'] }}</td>
					<td>{{ task['Device ID'] }}</td>
					<td>{{ task['Patient Name'] }}</td>
					<td>{{ task['Patient Age'] }}</td>
					<td>{{ task['Mobile'] }}</td>
					<td>{{ task['Email'] }}</td>
					<td>{{ task['Address'] }}</td>
					<td>{{ task['Temperature'] }}</td>
					<td>{{ task['SPO2'] }}</td>
					<td>{{ task['Pulse Rate'] }}</td>
					<td>{{ task['Body Orientation'] }}</td>
					<td>{{ task['Breathe'] }}</td>
					<td>{{ task['Comments'] }}</td>
					
				</tr>
								

        {% endfor %}
			</tbody>
			</table>


    			
    		</div>
    	</div>

    </div>
    <script src="/static/jquery.min.js"></script>
	<script src="/static/bootstrap.min.js"></script>
        
        
    </body>
</html>