<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>TeleHealth</title>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
<!-- Adding meta tag to refresh the page after t seconds -->

<meta http-equiv="refresh" content="5" />

    </head>
    <body>
 <nav id="mainNav" class="navbar navbar-default container-fluid">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed same btn btn-primary btn-lg" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="glyphicon glyphicon-home"></span>

                </button>
                <a class="navbar-brand page-scroll visible-sm visible-md visible-lg" href="                      http://ecasp.ece.iit.edu"> <img src="/static/ecasp.png" alt=""></a>
                
                
                <a class="navbar-brand page-scroll visible-xs" href="#page-top">KCT</a>
            </div>

            <div class="navbar-right">
                <a class="navbar-brand page-scroll visible-sm visible-md visible-lg" href="http://iit.edu"> <img src="/static/iitlogo.png" style="height:37px;" alt=""></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <!--    <ul class="nav navbar-nav navbar-right">
        <li><a class="page-scroll" href="#">Home</a></li>

        </ul> -->

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


    <div class="container">
         <h2>TeleHealth Realtime Tracking <a href="/viewAllData" class="btn btn-success">View Log</a> 
    <a href="" class="btn  btn-success">Refresh</a>
         </h2>

        <div class="well">
    	<div class="row">
    		
            <div class="col-md-12">

                <h3>Patient Details:</h3>
                
                <p><b>Name: </b> {{ task['Patient Name']  }}</p>
                <p><b>Age: </b> {{ task['Patient Age']  }}</p>
                <p><b>Mobile: </b> {{ task['Mobile']  }}</p>
                <p><b>Email: </b> {{ task['Email']  }}</p>
                <p><b>Address: </b> {{ task['Address']  }}</p>


                
            </div>  

            </div>
    	
    	</div>

        <div class="well">
            <div class="row">
                <div class="col-md-12">
                    <h3>Vitals:</h3>
                           <p><b>timestamp: </b> {{ task['Timestamp']  }}</p>
                <p><b>Device ID: </b> {{ task['Device ID']  }}</th>
                <p><b>Temperature: </b> {{ task['Temperature']  }}</p>
                <p><b>Pulse Rate: </b> {{ task['Pulse Rate']  }}</p>
                <p><b>SPO2: </b> {{ task['SPO2']  }}</p>
                <p><b>Breathe: </b> {{ task['Breathe']  }}</p>
                <p><b>Body Orientation: </b> {{ task['Body Orientation']  }}</p>
                <p><b>Comments: </b> {{ task['Comments']  }}</p>
                    

                </div>
            </div>
        </div>

    </div>
    <script src="/static/jquery.min.js"></script>
	<script src="/static/bootstrap.min.js"></script>
        
        
    </body>
</html>